

body{
    background-color: #cbebcc8c;
    font-family: Helvetica;
}

h1{
    background-color: #cbebcce5;
    color:darkslategrey;
    font: bold;
    text-transform: uppercase;
}

#tekst {
    color:rgb(7, 22, 22);
    font: bold Helvetica, sans-serif;
}

#dodaj {
    display: block;
    height:40px;
    width: 80px;
    text-align: center;
    font-weight: bolder;

}
#usun {
    height:40px;
    width: 80px;
    color:hsl(0, 92%, 28%);
    text-align: center;
    font-weight: bold;
}